@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}

.header-background{
    min-height: 150px;
    min-width: 100%;
    background-color: #007bff;
    margin-top: 0;
    box-shadow: 0px 5px 10px #C4C4C4;
}

.header-background > h1{
    position: absolute;
    top: -50px;
    left: 20px;
    font-size: 96px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 20px;
}

#search-content{
    position: relative;
    margin-top: 100px;
}

#search-content > textarea{
    min-height: 300px;
    min-width: 95%;
    margin-left: 10px;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    border: none;
    outline: none;
    background-color: #c9c9c969;
    padding-left: 20px;
    padding-top: 50px;
    border-bottom: 10px solid #007bff;
    border-radius: 10px;
}

#sentence-label{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #007bff;
    font-weight: 400;
    top: 15px;
    left: 25px;
}

#search-content > h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    color: black;
    position: relative;
    top: 30px;
}

#typed-words{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px auto 10px auto;
    border-radius: 10px;
    background-color: #c9c9c969;
    padding-bottom: 30px;
    border-bottom: 10px solid #007bff;

}

.word{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    background-color: #a8a8a8;
    padding: 10px 20px;
    margin: 30px 10px auto 10px;
    border-radius: 15px;
    border: none;
    font-weight: 400;
}

.selected{
    background-color: #007bff;
}

#search-content button{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: white;
    background-color: #007bff;
    display: block;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    border: none;
    border-radius: 10px;
}

.button-hover:hover{
    box-shadow: 5px 5px 10px #C4C4C4;
}

.white-font-color{
    color: white
}

.field-height{
    min-height: 300px;
}

#result-element{
    margin: 50px 15px;
    background-color: #c9c9c969;
    border-radius: 10px;
    padding: 10px 30px;
    border-bottom: 10px solid #007bff;
}

#result-element > h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

#result-element > h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin: 20px 10px;
    text-align: center;
}

.grammar-class-container:not(:first-of-type){
    margin-top: 50px;
}

.grammar-class-container > h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grammar-class-container > p{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

.definition{
    font-weight: 300;
}

.example{
    font-weight: 200;
    position: relative;
    top: -20px;
}