<meta charset="UTF-8">
<title>AnkiPipe2.0</title>

<!-- Importing style from the homepage -->
<link rel="stylesheet" href="./views/styles/homepage-style.css">

<link rel="stylesheet" href="./views/styles/swing.css"/>
<link rel="stylesheet" href="./views/styles/dialog.css" />