<meta charset="UTF-8">
<title>AnkiPipe2.0</title>

<!-- Importing style from the homepage -->
<link rel="stylesheet" href="./views/styles/homepage-style.css">

<script src="./views/scripts/homepage-script.js"></script>