<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1><%= id %></h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>