<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/dialog/dialog'); %>
    <section class="header-background">
        <h1 class="display-1 top-margin white-font-color">AnkiPipe</h1>
    </section>
    <h2 id="subtitle">Welcome to the software that will help you
        how to learn english!</h2>
    <section id="search-content">
        <span id="sentence-label">Sentence</span>
        <textarea onkeyup="analyzeSentence(this.value)"></textarea>
        <h3 class="lead paragraph-weight top-margin paragraph-font-size">Click on the word that you'd like to learn
        </h3>
        <article id="typed-words" class="field-height">
        </article>
        <button type="button" class="btn btn-primary button-hover" onclick="searchWord()">search</button>
    </section>

    <section id="result-content">
    </section>
    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>

</html>