<div class="dialog-container" id="dialog-container">
    <div class="dialog" id="dialog">
        <header>
            <h1 id="dialog-title"></h1>
        </header>
        <section class="body" id="dialog-body"></section>
        <footer>
            <a id="dialog-button1"></a>
            <a id="dialog-button2"></a>
        </footer>
    </div>
</div>